@model Travel_Trip_Project.Models.Siniflar.Otel

@{
    ViewBag.Title = "YeniOtel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Otel Ekleme</h2>
<br />
<form class="from-group" method="post">

    @Html.LabelFor(x => x.OtelBaslik)
    @Html.TextBoxFor(x => x.OtelBaslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.OtelImage)
    @Html.TextBoxFor(x => x.OtelImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Konum)
    @Html.TextBoxFor(x => x.Konum, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Fiyat)
    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.OtelDetay)
    @Html.TextAreaFor(x => x.OtelDetay, 15, 1, new { @class = "form-control" })
    <br />
    <button style="margin-bottom:20px" class="btn btn-primary">Otel Ekle</button>

</form>


