@model Travel_Trip_Project.Models.Siniflar.Blog
@{
    ViewBag.Title = "YeniBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Tur Ekleme</h2>
<br />
<form class="from-group" method="post">

    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.BitisTarihi)
    @Html.TextBoxFor(x => x.BitisTarihi, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Fiyat)
    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.BlogImage)
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama, 3, 1, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.TurDetay)
    @Html.TextAreaFor(x => x.TurDetay, 15, 1, new { @class = "form-control" })
    <br />
    <button style="margin-bottom:20px" class="btn btn-primary">Tur Ekle</button>

</form>
